<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86295407605-omv29eeg5u3ct9i55a74j81ol2485oct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86295407605-omv29eeg5u3ct9i55a74j81ol2485oct</string>
	<key>API_KEY</key>
	<string>AIzaSyAUwNCdnqHjegGTNoM7bQnObglK1tNrHZs</string>
	<key>GCM_SENDER_ID</key>
	<string>86295407605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codelabdavis.Passpal</string>
	<key>PROJECT_ID</key>
	<string>passpal-614b0</string>
	<key>STORAGE_BUCKET</key>
	<string>passpal-614b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86295407605:ios:eafb77d103dd1e98008ebc</string>
</dict>
</plist>